* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
header {
    background-color: darkblue;
    color: gainsboro;
    font-weight: bold;
    padding: 15px;
}
ul {
    background-color: coral;
    padding: 15px;
}
nav ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
    list-style-type: none;
    display: inline;
    width: 200px;
    border-radius: 15%;
}

li a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}