* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
header {
    background-color: darkblue;
    color: gainsboro;
    font-weight: bold;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
ul {
    background-color: coral;
    padding: 15px;
}
nav ul li {
    list-style: none;
    display: inline;
    margin-right: 40px;
    list-style-type: none;
    display: inline;
    width: 200px;
    border-radius: 15%;
}

li a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

td:nth-child(odd) {
    background-color: darkgreen;
    color: darkturquoise;
    font-weight: bold;
    width: 180px;
    text-align: right;
    padding-right: 10px;
}

td:nth-child(even) {
    background-color: khaki;
    color: midnightblue;
    font-weight: bold;
    width: 180px;
    text-align: left;
}

aside {
    background-color: lightgrey;
    padding: 5px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    float: right;
    border: 2px solid red;
    position: fixed;
}

article {
    display: inline-block;
    width: 70%;
}

main {
    display: inline-block;
    border: 2px solid red;
    width: 100%;
    margin-top: 100px;
}

section {
    border: 2px solid red;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 50px;
}

body {
    background-image: linear-gradient(yellow, lightgrey, green);
}

footer {
    font-size: 15px;
    margin-left: 15px;
}