h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
   }

   p {
     font-weight: 600;
     font-size: 3em;
     font-style: italic;
     text-align: center;
   }

   #bg-list {
     background-color: purple;
     font-weight: bold;
     text-align: center;
     font-family: monospace;
   }

   #amarelo {
     background-color: yellow;
     color: midnightblue;
   }
   #vermelho {
     background-color: red;
     color: pink;
   }
   #marrom {
     background-color: brown;
     color: white;
   }

   .bg-ul-p {
     background-color: peru;
   }

   body {
     font-size: 16px;
   }